<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCABmnIGn2uAqIpMRJCPXVTMYGNnV3ekWY</string>
	<key>GCM_SENDER_ID</key>
	<string>206763302427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.memory</string>
	<key>PROJECT_ID</key>
	<string>memory-app-a167e</string>
	<key>STORAGE_BUCKET</key>
	<string>memory-app-a167e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206763302427:ios:e0efe7eeff1a25fdeaa2be</string>
</dict>
</plist>